h1 {
    text-align: center;
    color: #26A6D1;
}
#body1 {
    background-color: white;
    text-align: center;
}
#body2 {
    color: #26A6D1;
    text-align: center;
    background-color: #0C5F7A;
}

