h1 {
    text-align: center;
    color: #26A6D1;
}
#body1 {
    background-color: #0C5F7A;
    text-align: center;
}
#body2 {
    color: #26A6D1;
    text-align: center;
    background-color: white;
}
#infobox {
  width: 300;
  height: 200;
}
